*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    overflow-x:hidden;
}
/* header-section */
header{
    height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/th.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    color:#fff;
}
/* navbar */
nav{
    padding:20px 100px;
    display:flex;
    justify-content:space-between;
}
nav h1{
    font-size:2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav ul{
    display:flex;
    margin-right:10px;
    justify-content:end;
}
ul p{
    margin-right:35px;   
 }

/* content */
.main-text{
    text-align: center;
    padding:15%;
}   
.button{
    text-decoration:none;
    height:35px;
    width:140px; 
    border:1px solid #fff;
    color:#fff;
    padding:7px 20px;
    display:inline-block;
    margin:25px auto;
    line-height:35px;
}

.button:hover{
    background-color: #fff;
    color:#000;
    transition:0.5s;
}
/* .bottom-img */
.bottom-img{
      background-size:cover;
      height:140px;
      position:absolute;
      bottom:0;
      mix-blend-mode:color-dodge;
      opacity:0.3;
      animation:animate 8s linear infinite;
}

@keyframes animate{
     0%{
        left:0;
     }
     100%{
        left:-1900px;
     }
}